{% extends "master_page.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
{% endblock %}

{% block seccion %}
Categorías
{% endblock %}

{% block descripcion %}

{% endblock %}

{% block titulo %}
Categorías
{% endblock %}

{% block icono %}
icon-menu
{% endblock %}


{% block contenido %}

<div class="row">
    <div class="col-md-9">
        <form method="POST" enctype="multipart/form-data">
  
            <!-- Security token -->
            {% csrf_token %}
          
            <!-- Using the formset -->
            {{ form.as_p }}
              
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}



{% block extrajs %}
<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}

