{% extends "master_page.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datatables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block seccion %}
Categorías
{% endblock %}

{% block descripcion %}

{% endblock %}

{% block titulo %}
Categorías
{% endblock %}

{% block icono %}
icon-menu
{% endblock %}


{% block contenido %}
{% if messages %}
    <div class="col-lg-12">
        {% for message in messages %}
            {% if message.two%}
                <p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message.message }}
                </p>
            {% else %}
                <p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </p>
            {%endif%}

        {% endfor %}
    </div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="data-tables datatable-dark">
            <div class="mb-3">
                <button type="button" class="btn btn-primary" onclick="capturar()">Capturar</button>
            </div>
            <table id="dataTable3" class="text-center" width="100%">
                <thead class="text-capitalize">
                    <tr> 
                        <th>Nombre</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}



{% block extrajs %}
<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.datatables.min.js' %}"></script>
<script src="{% static 'js/datatables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/datatables.responsive.min.js' %}"></script>
<script src="{% static 'js/responsive.bootstrap4.min.js' %}"></script>

<script>
    function capturar(){
        window.location.href = "{% url 'CategoryCreate' %}";
    }

    $(function () {
        var table = $("#dataTable3").DataTable({
            scrollX : true,
            dom: 'Bftrip',
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "processing": true,
            "serverSide": true,
            columnDefs: [
                { 
                    "orderable": false, 
                    "targets": 1,
                    "render": function (data, type, row) {
                        
                        return "<a href='/library/category/update/" + data + "'> <i class='fa fa-pencil'></i></a>";
                    }
                },
                { 
                    "orderable": false, 
                    "targets": 2,
                    "render": function (data, type, row) {
                        
                        return "<a href='/library/category/delete/" + data + "'> <i class='fa fa-trash'></i></a>";
                    }
                },
            ],
            "ajax": 
            {
                "type": "POST",                
                "url": "{% url 'DTCategory' %}",
                "data": function(d){
                    d.csrfmiddlewaretoken = '{{csrf_token}}';
                }
            }
        });
    });
</script>

{% endblock %}

