{% extends "master_page.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
{% endblock %}

{% block seccion %}
Libros
{% endblock %}

{% block descripcion %}

{% endblock %}

{% block titulo %}
Libros
{% endblock %}

{% block icono %}
icon-menu
{% endblock %}


{% block contenido %}

<div class="row">
    <div class="col-md-9">
        <form method="post" >{% csrf_token %}
        
            <div class="form-group">
                <p>¿Está seguro de eliminar el libro <span class="text-danger">{{object.title}}</span>? </p>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <a href="{% url 'books' %}" class="btn btn-default">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}



{% block extrajs %}
<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
